@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h4>Add a new stylist</h4>
<div class="input">
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.StylistName)
  @Html.TextBoxFor(model => model.StylistName)
  @Html.LabelFor(model => model.HireDate)
  @Html.TextBoxFor(model => model.HireDate)
  <input type="submit" value="Add new stylist" />
}
</div>
<p>@Html.ActionLink("Show all stylists", "Index")</p>